body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.app-header {
  background-color: var(--dark-blue);
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.note {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note.done {
  background-color: var(--pink);
  text-decoration: line-through;
}

.note span {
  margin-right: 1rem;
}

.note input[type="checkbox"] {
  margin-right: 1rem;
}

.note textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

.note textarea:focus {
  outline: none;
  border-color: var(--dark-blue);
}